{% extends 'login_register_base.html' %}

{% block title %}Login page{% endblock %}

{% block content %}

{% if form.non_field_errors %}
    <div class="messages">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ form.non_field_errors }}
        </div>
    </div>
{% endif %}

 <form action="" method="post" class="form-signin">
     {% csrf_token %}
     <h2 class="form-signin-heading">Please Register</h2>
     <label for="username" class="sr-only">Email address</label>
     <input type="text" name="username" id="username" class="form-control" placeholder="用户名" required autofocus>
    <label for="email" class="sr-only">Email Adress</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="邮箱" required>
     <label for="password" class="sr-only">Password</label>
     <input type="password" name="password" id="password" class="form-control" placeholder="密码" required>
     <button type="submit" class="btn btn-lg btn-primary btn-block">注 册</button>
 </form>

{% endblock %}

<!--                            -->
